@import url("https://developer.mescius.com/activereportsjs/demos/resource/themes/orange-ui.css");
@import url("https://developer.mescius.com/activereportsjs/demos/resource/themes/orange-viewer.css");

@import "@grapecity/activereports/styles/ar-js-ui.css";
@import "@grapecity/activereports/styles/ar-js-designer.css";

#designer-host {
  width: 100%;
  height: 100vh;
}

#viewer-host {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
}
