@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@grapecity/activereports/styles/light-blue-ui.css";
@import "@grapecity/activereports/styles/light-blue-viewer.css";
@import "@grapecity/activereports/styles/light-blue-designer.css";

#designer-host {
  width: 100%;
  height: 100vh;
}

#viewer-host {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
}

#designer-host .gc-modal .gc-btn--accent{
  background-color: #2e69dc !important;
}

#designer-host .gc-btn--accent:hover{
  opacity: 0.9;
 }

 #designer-host .gc-modal .gc-btn--accent{
  background-color: #2e69dc !important;
}

#viewer-host .gc-menu-panel .gc-btn--accent{
  background-color: #2e69dc !important;
}

#viewer-host .gc-btn--accent:hover{
  opacity: 0.9;
 }
